<div *ngIf="addresses">
    <p-dataView #dv [value]="addresses" [paginator]="true" [rows]="5" paginatorPosition="top" 
        filterBy="addressType,streetNumber,streetName,unit,city,state,zipCode">
        <p-header>
            <div class="row">
                <div class="col-4">
                    <h4>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Address
                        <button type="button" class="btn btn-primary btn-sm" (click)="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button> 
                    </h4>
                </div>
                <div class="col-8 filter-box">
                    <input type="search" pInputText placeholder="Filter" 
                    (input)="dv.filter($event.target.value)">
                </div>
            </div>
        </p-header>
        <ng-template let-address pTemplate="listItem">
            <div class="row address-details">
                <div class="col-2">{{address.addressType}}</div>
                <div class="col-8">
                    {{address.streetNumber}} 
                    <span *ngIf="address.streetName!=null&&address.streetName!=''">{{address.streetName}},</span> 
                    <span *ngIf="address.unit!=null&&address.unit!=''">Unit# {{address.unit}},</span> 
                    {{address.city}},
                    {{address.state}} 
                    {{address.zipCode}}
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-sm" (click)="edit(address)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="delete(address)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dataView>    
</div>

<!-- Modal form for edit -->
<p-toast></p-toast>
<p-dialog header="Communication Details" [(visible)]="displayDialog" [focusOnShow]="false" 
    showEffect="fade" [modal]="true" [style]="{width: '400px'}">
    <form [formGroup]="addressForm" (ngSubmit)="save(addressForm.value)" *ngIf="selectedAddress">
        <div class="ui-fluid forms-grid dialog" style="margin: 1em 0">
            <div>
                <div>Address Type *</div>
                <!--<p-dropdown [options]="commTypeOptions" formControlName="communicationType"  
                     placeholder="Required" optionLabel="name" [showClear]="true">
                </p-dropdown>-->
                <input pInputText type="text" formControlName="addressType" placeholder="Required"/>
                <p-message severity="error" text="Address Type is required. Max of 10 chars." 
                    *ngIf="!addressForm.controls['addressType'].valid&&addressForm.controls['addressType'].dirty">
                </p-message>
            </div>
            <div>
                <div>Street Number</div>
                <input pInputText type="text" formControlName="streetNumber"/>
            </div>
            <div>
                <div>Street Name</div>
                <input pInputText type="text" formControlName="streetName" />
            </div>
            <div>
                <div>Unit</div>
                <input pInputText type="text" formControlName="unit" />
            </div>
            <div>
                <div>City</div>
                <input pInputText type="text" formControlName="city" placeholder="Required"/>
                <p-message severity="error" text="City is required. Max of 20 chars." 
                    *ngIf="!addressForm.controls['city'].valid&&addressForm.controls['city'].dirty">
                </p-message>                
            </div>
            <div>
                <div>State</div>
                <input pInputText type="text" formControlName="state" placeholder="Required"/>
                <p-message severity="error" text="State is required. Min/Max of 2 chars." 
                    *ngIf="!addressForm.controls['state'].valid&&addressForm.controls['state'].dirty">
                </p-message>                   
            </div>
            <div>
                <div>Zip Code</div>
                <input pInputText type="text" formControlName="zipCode" placeholder="Required"/>
                <p-message severity="error" text="Zip Code is required. Max of 5 chars." 
                    *ngIf="!addressForm.controls['zipCode'].valid&&addressForm.controls['zipCode'].dirty">
                </p-message>                   
            </div>
            <div>&nbsp;</div>
            <div>
                <button pButton type="submit" label="Submit" [disabled]="!addressForm.valid"></button>
            </div>
        </div>
    </form>
</p-dialog>
