<div *ngIf="addresses">
    <p-dataView #dv [value]="addresses" [paginator]="true" [rows]="5" paginatorPosition="top" 
        filterBy="addressType,streetNumber,streetName,unit,city,state,zipCode">
        <p-header>
            <div class="row">
                <div class="col-4">
                    <h4>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Address
                        <button type="button" class="btn btn-primary btn-sm" (click)="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button> 
                    </h4>
                </div>
                <div class="col-8 filter-box">
                    <input type="search" pInputText placeholder="Filter" 
                    (input)="dv.filter($event.target.value)">
                </div>
            </div>
        </p-header>
        <ng-template let-address pTemplate="listItem">
            <div class="row address-details">
                <div class="col-2">{{address.addressType}}</div>
                <div class="col-8">
                    {{address.streetNumber}} 
                    {{address.streetName}} 
                    {{address.unit}} 
                    {{address.city}} 
                    {{address.state}} 
                    {{address.zipCode}}
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-sm" (click)="edit(address)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="delete(address)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dataView>    
</div>

<!-- Modal form for edit -->

<p-dialog header="Address Details" [(visible)]="displayDialog" [focusOnShow]="false" showEffect="fade" [modal]="true" [style]="{width: '400px'}">
    <div class="p-grid ui-fluid" *ngIf="selectedAddress">
        <div class="p-col-4">
            <label for="addressType">Address Type</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="addressType" [(ngModel)]="selectedAddress.addressType" autofocus />
        </div>
        <div class="p-col-4">
            <label for="streetNumber">Street Number</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="streetNumber" [(ngModel)]="selectedAddress.streetNumber" />
        </div>
        <div class="p-col-4">
            <label for="streetName">Street Name</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="streetName" [(ngModel)]="selectedAddress.streetName" />
        </div>
        <div class="p-col-4">
            <label for="unit">Unit</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="unit" [(ngModel)]="selectedAddress.unit" />
        </div>
        <div class="p-col-4">
            <label for="city">City</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="city" [(ngModel)]="selectedAddress.city" />
        </div>
        <div class="p-col-4">
            <label for="state">State</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="state" [(ngModel)]="selectedAddress.state" />
        </div>
        <div class="p-col-4">
            <label for="zipCode">Zip Code</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="zipCode" [(ngModel)]="selectedAddress.zipCode" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>