<div class="card">
    <div class="card-header">
        Placeholder for logo or company title
    </div>    
    <div class="card-body" *ngIf="contact">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 page-header">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        Contact Details
                    </div>
                    <div class="col-6 contact-buttons">
                        <button type="button" class="btn btn-primary btn-sm" (click)="edit(contact)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" (click)="delete(contact)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6 back-button">
                <button type="button" class="btn btn-secondary btn-sm" (click)='back()'>
                    Back to Contact List
                </button>
            </div>            
        </div>
        <div class="row">
            <div class="col-2">Name:</div>
            <div class="col-10"> {{contact.firstName}} {{contact.lastName}}</div>
            <div class="col-2">Birth Date:</div>
            <div class="col-10">{{contact.dateOfBirth | date:'MM/dd/yyyy' }}</div>
            <div class="col-2">Gender:</div>
            <div class="col-10">{{contact.gender}}</div>
            <div class="col-2">Title:</div>
            <div class="col-10">{{contact.title}}</div>                
        </div>
    </div>

    <div class="">
        <!-- Address component -->
        <app-address-list [contactId]="contactId"></app-address-list>
        
        <!-- Communication component -->
        <app-communication-list [contactId]="contactId"></app-communication-list>
    </div>
</div>

<!-- Modal form for edit -->
<p-toast></p-toast>
<p-dialog header="Contact Details" [(visible)]="displayDialog" [focusOnShow]="false" 
    [responsive]="true" showEffect="fade" [modal]="true" >
    
    <form [formGroup]="contactForm" (ngSubmit)="save(contactForm.value)">
        <div class="ui-fluid forms-grid dialog" style="margin: 1em 0">
            <div>
                <div>First Name *</div>
                <input pInputText type="text" formControlName="firstName" placeholder="Required"/>
                <p-message severity="error" text="Firstname is required" 
                    *ngIf="!contactForm.controls['firstName'].valid&&contactForm.controls['firstName'].dirty">
                </p-message>
            </div>
            <div>
                <div>Last Name *</div>
                <input pInputText type="text" formControlName="lastName" placeholder="Required"/>
                <p-message severity="error" text="Lastname is required" 
                    *ngIf="!contactForm.controls['lastName'].valid&&contactForm.controls['lastName'].dirty">
                </p-message>
            </div>
            <div>
                <div>Date of Birth *</div>
                <p-calendar formControlName="dateOfBirth" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020"></p-calendar>
                <p-message severity="error" text="Date of Birth is required" 
                    *ngIf="!contactForm.controls['dateOfBirth'].valid&&contactForm.controls['dateOfBirth'].dirty">
                </p-message>
            </div>
            <div>
                <div>Gender</div>
                <input pInputText type="text" formControlName="gender"/>
                <!--<p-dropdown [options]="genderOptions" formControlName="gender" placeholder="" optionLabel="name" [showClear]="true"></p-dropdown>-->
            </div>
            <div>
                <div>Title</div>
                <input pInputText type="text" formControlName="title"/>
            </div>
            <div>&nbsp;</div>
            <div>
                <button pButton type="submit" label="Submit" [disabled]="!contactForm.valid"></button>
            </div>
        </div>
    </form>
</p-dialog>